In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statistics 
import os

filepath = os.path.join(os.getcwd(),'CSV_Files','ninja_reports.xls')
df = pd.read_excel(filepath,sheet_name='ninja_reports')

In [2]:
df.head(10)

,id,createdAt,updateAt,userId,JGId,bbmpId,title_id,title,category,description,...,status_title,city_id,city_title,pendingPushNotification,createdInJanagraha,updatedToJanagraha,retryCount,size,isFlagged,communicationNum
0,2529,2019-02-26 08:51:18,2019-10-17 12:54:15,1322,453093.0,NaN,0,Garbage,6,Garbage behind the temple,...,Resolved,1.0,Bangalore,0,1,0,0,NaN,0,NaN
1,2540,2019-02-26 20:58:20,2019-09-04 23:21:36,1453,453281.0,NaN,0,Air Pollution,1,Air pollution,...,Open,1.0,Bangalore,0,1,0,0,NaN,0,NaN
2,2542,2019-02-26 21:04:38,2019-09-04 23:21:36,1453,453283.0,NaN,0,Air Pollution,1,Air pollution in hebbal,...,Open,1.0,Bangalore,0,1,0,0,NaN,0,NaN
3,2550,2019-02-27 07:43:14,2019-10-17 12:54:15,1322,453328.0,NaN,0,Garbage,6,Garbage is dumped near BES,...,Resolved,1.0,Bangalore,0,1,0,0,NaN,0,NaN
4,2552,2019-02-27 09:34:35,2019-09-04 23:21:36,622,453357.0,NaN,0,Air Pollution,1,Leaf and garbage burning on Shakthi Ganapathi ...,...,Open,1.0,Bangalore,0,1,0,0,NaN,0,NaN
5,2553,2019-02-27 17:06:02,2019-10-17 12:54:15,876,453537.0,NaN,0,Garbage,6,There is a lot of garbage dump in and around t...,...,Resolved,1.0,Bangalore,0,1,0,0,NaN,0,NaN
6,2554,2019-02-28 05:59:43,2019-09-05 08:00:02,1322,453733.0,NaN,0,Maintenance/Repair Of Streetlights,2,Replace broken streetlight. Complaint #5 about...,...,Resolved,1.0,Bangalore,0,1,0,0,NaN,0,NaN
7,2555,2019-02-28 09:43:43,2019-07-31 16:20:31,1898,NaN,NaN,190,Parking On Footpath,5,Red Matiz parked on the footpath for more than...,...,Open,1.0,NaN,0,0,0,5,NaN,0,NaN
8,2556,2019-02-28 09:49:15,2019-07-31 16:20:31,1898,NaN,NaN,190,Parking On Footpath,5,Cars have been using the footpath as a parking...,...,Open,1.0,NaN,0,0,0,5,NaN,0,NaN
9,2560,2019-03-01 08:42:25,2019-07-31 16:20:31,1905,473364.0,NaN,84,Traffic Jams/Congestion Or Bottlenecks,5,Congestion everyday and at all times due to im...,...,Resolved,1.0,NaN,0,1,0,0,NaN,0,NaN

In [3]:
df = df.drop(columns = ['isFlagged','pendingPushNotification','createdInJanagraha','updatedToJanagraha'])

In [4]:
df = df.drop(columns = ['retryCount','communicationNum','city_id','bbmpId'])

In [5]:
df.head(5)

,id,createdAt,updateAt,userId,JGId,title_id,title,category,description,latitude,...,jg_category_id,jg_category,jg_sub_category,user_status,closed_by,updateInfo,status_id,status_title,city_title,size
0,2529,2019-02-26 08:51:18,2019-10-17 12:54:15,1322,453093.0,0,Garbage,6,Garbage behind the temple,12.925020,...,155,Garbage and Unsanitary Practices,Garbage,1,0,NaN,3,Resolved,Bangalore,NaN
1,2540,2019-02-26 20:58:20,2019-09-04 23:21:36,1453,453281.0,0,Air Pollution,1,Air pollution,13.045039,...,44,Pollution,Air Pollution,1,0,NaN,1,Open,Bangalore,NaN
2,2542,2019-02-26 21:04:38,2019-09-04 23:21:36,1453,453283.0,0,Air Pollution,1,Air pollution in hebbal,13.030531,...,44,Pollution,Air Pollution,1,0,NaN,1,Open,Bangalore,NaN
3,2550,2019-02-27 07:43:14,2019-10-17 12:54:15,1322,453328.0,0,Garbage,6,Garbage is dumped near BES,12.926228,...,155,Garbage and Unsanitary Practices,Garbage,1,0,NaN,3,Resolved,Bangalore,NaN
4,2552,2019-02-27 09:34:35,2019-09-04 23:21:36,622,453357.0,0,Air Pollution,1,Leaf and garbage burning on Shakthi Ganapathi ...,12.925195,...,44,Pollution,Air Pollution,1,0,NaN,1,Open,Bangalore,NaN